/* You can add global styles to this file, and also import other style files */

/* HELPERS
---------------------------------------------------------------------- */
.is-smooth {
  border-radius: 6px;
}
.is-800x400 {
  height: 800px;
  width: 400px;
}
