<article class="message" *ngIf="message" [ngClass]="{ 'is-danger': error, 'is-success': !error }">
  <div class="message-body">
    <fa-icon [icon]="error ? 'robot' : 'smile'" size="lg" class="pr-1"></fa-icon>
    {{ message }}
    <fa-icon icon="xmark" size="lg" class="is-pulled-right is-clickable" (click)="cancel()"></fa-icon>
  </div>
</article>

<div class="field">
  <label class="label">Please enter your mobile number</label>
  <div class="control has-icons-left">
    <input class="input" type="text" placeholder="Mobile number" [(ngModel)]="mobile" />
    <span class="icon is-small is-left">
      <fa-icon icon="mobile"></fa-icon>
    </span>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="button" class="button is-primary" (click)="submit()">Submit</button>
  </div>
  <div class="control">
    <button type="button" class="button is-light" (click)="reset()">Reset</button>
  </div>
</div>
